<div id="certificates">
<div class="row" id="certificate_tables">
    <table class="table table-striped">
      <thead id="certificate_ids">
        <tr>
          <th scope="col">
            <button type="button" class="btn btn-warning" id="create_cert">
              <%= t("add_certificate") %>
            </button>
          </th>
        </tr>
        <tr>
          <th scope="col">CertID</th>
          <th scope="col">Download Key</th>
          <th scope="col">Download Cert</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="certificate_rows">

      </tbody>
    </table>
  </div>
</div>
<%= javascriptTag("certificate.js") %>
